node_modules/
firefox/background/
firefox/content/
firefox/icons/
firefox/options/
firefox/shared/
.DS_Store
safari-src/manifest.json
safari/build/
safari/**/*.xcodeproj/xcuserdata/
safari/**/*.xcworkspace/xcuserdata/
*.zip
